.alert {
    margin-bottom: 2em;
    padding: 1em;
    color:#003366;
    background-color:#ECF8FF;
    border:1px dashed #049AFC;
    font-size: 14px !important;
    box-shadow: 0px 0px 10px var(--sh-clr);
    transition: box-shadow 0.1s ease-in-out;
}

.alert-red {
    color:#660000;
    background-color:#ffecec;
    border:1px dashed #fc0404;
}

.alert-green {
    color:#006600;
    background-color:#ecffec;
    border:1px dashed #04fc04;
}

.alert:hover {
    box-shadow: 0px 0px 30px var(--sh-clr);
}


.alert-content {
    text-align: center;
}

.alert-date {
	text-align: right;
}

.alert-align-left {
	text-align: left;
}

.alert-narrow {
	padding-left: 2vw;
	padding-right: 2vw;
}

