.table-elm {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
}

.table-elm td {
    border: solid 1px var(--fg-clr);
    height: 30px;
    text-align: center;
}



.table-body td, td.table-body {
    background-color: var(--bg-clr);
    color: var(--fg-clr);
}

.table-body-alt td, td.table-body-alt {
    background-color: var(--bg-clr-up);
    color: var(--fg-clr);
}

.table-header td, td.table-header {
    background-color: var(--pm-clr);
    color: var(--pm-clr-tx);
}

.table-header-alt td, td.table-header-alt {
    background-color: var(--pm-clr-hl);
    color: var(--fg-clr);
}

.table-footer td, td.table-footer {
    background-color: var(--sc-clr);
    color: var(--sc-clr-tx);
}
