#banner {
	width: 100%;
	/*height: 200px;*/
	background-color: #aaaaaa;
}

#banner-img {
	width: 100%;
}

.horizontal-menu {
	width: 100%;
	padding: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	box-sizing: border-box;
	text-align: center;
}

.horizontal-menu li {
	display: inline;
}

.horizontal-menu li::after {
	content: "|";
	color: #ffffff;
}

.horizontal-menu li:last-child::after {
	display: none;
}

.horizontal-menu a {
	background-color: #00000000;
	color: #ffffff;
	text-shadow: #B2D6FF 1px 1px 1px;
	font-size: 18px;
	margin: 12px;
	text-decoration: none;
}

.horizontal-menu a:hover {
	color: #0000ff;
}

.horizontal-menu a:active {
	color: #000000;
}

#main-menu {
	background-color: #27568c;
}


.grid-menu {
	width: 100%;
	padding: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	box-sizing: border-box;
	text-align: center;
	overflow: auto;
}

.grid-menu li {
	display: inline;
	width: 33.32%;
	float: left;
}

.grid-menu li::after {
	display: none;
}

#sub-menu {
	background-color: #b51f2d;
	font-size: 14px;
	min-height: 20px;
	overflow: hidden;
}

#sub-menu a {
}

.sub-menu-div {
	display: none;
	height: auto;
	overflow: auto;
}